body {
  margin: 0;
}
.App {
  min-width: 300px;
  font-size: 16px;
  .app-header {
    display: flex;
    justify-content: center;
    background: #ffffff;
    margin-bottom: 40px;
    position: sticky;
    top: 0;
    z-index: 1; // 避免echart、转换效果预览图等将其遮挡
  }
  .img-box {
    text-align: center;
  }
  .app-logo {
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }
  .app-intro {
    width: 80%;
    margin: 0 auto;
    .slogan {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .app-content {
    .upload-type {
      padding: 16px;
    }
    .upload-desc {
      font-size: 14px;
      word-break: break-all;
      .sub {
        margin-left: 8px;
      }
      .upload-intro {
        text-align: right;
      }
    }
    .upload-box {
      padding: 24px;
      border: 1px solid #d2d2d2;
      border-radius: 8px;
    }
  }
  .zfb {
    max-width: 300px;
  }
  .toutiao-box {
    max-width: 300px;
    box-sizing: border-box;
    margin: 8px auto;
    padding: 16px;
    text-align: center;
    border: 1px solid #fa3f43;
    .toutiao-des {
      margin-bottom: 16px;
    }
    .highlight {
      color: #fa3f43;
      font-weight: bold;
    }
  }
  .important_text {
    font-weight: bold;
  }
}
