body {
  margin: 0;
  font-family: PingFang SC,Microsoft Yahei,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';;
}
.App {
  min-width: 300px;
  font-size: 16px;
  line-height: 1.6;
  .app-nav-container {
    padding-inline-start: 0;
    .app-nav-item {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      margin: 0;
      padding-inline: 16px;
      position: relative;
      font-size: 14px;
      white-space: nowrap;
      color: inherit;
      background: white;
      text-decoration: none;
      &.active {
        >.app-nav-item-link { // 仅其直接子元素为激活态
          color: #1677ff;
        }
        &:after {
          border: 1px solid #1677ff;
        }
      }
      &:hover {
        &:after {
          border: 1px solid #1677ff;
        }
        > .app-nav-container {
          visibility: visible;
        }
      }
      a {
        display: block; // 撑满容器
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        vertical-align: middle;
      }
      &:after {
        inset-inline: 8px;
        content: '';
        position: absolute;
        bottom: 0;
      }
      .app-nav-item-icon {
        margin-right: 8px;
        // 避免antd的vertical-align: -0.125em值加载后造成icon抖动，提前加载相同样式内容
        .anticon {
          vertical-align: -0.125em;
        }
      }
      .app-nav-container {
        position: absolute;
        top: 100%;
        left: 0;
        padding-inline-start: 0;
        visibility: hidden;
        box-shadow: 2px 3px 4px 0 #e2e2e2;
        border-radius: 8px;
        .app-nav-item {
          display: block;
        }
      }
    }
  }
  .app-list-container {
    border-radius: 8px;
    border: 1px solid #e3e3e3;
    .app-list-item {
      padding: 8px 16px;
      border-bottom: 1px solid #e3e3e3;
      .app-list-item-title {
        margin: 0 0 4px 0;
        font-size: 14px;
      }
      .app-list-item-description {
        color: #00000073
      }
    }
  }

  .app-header {
    display: flex;
    justify-content: center;
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1; // 避免echart、转换效果预览图等将其遮挡
    .app-nav {
      min-width: 80%;
    }
  }
  .app-article-title {
    text-align: center;
  }
  .app-article-content {
    img {
      max-width: 90%;
    }
  }
  .img-box {
    text-align: center;
  }
  .app-logo {
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }
  .app-intro {
    width: 80%;
    margin: 0 auto;
    .slogan {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .app-content {
    .upload-type {
      padding: 16px;
    }
    .upload-desc {
      font-size: 14px;
      word-break: break-all;
      .sub {
        margin-left: 8px;
      }
      .upload-intro {
        text-align: right;
      }
    }
    .upload-box {
      padding: 24px;
      border: 1px solid #d2d2d2;
      border-radius: 8px;
    }
  }
  .zfb {
    max-width: 300px;
  }
  .toutiao-box {
    max-width: 300px;
    box-sizing: border-box;
    margin: 8px auto;
    padding: 16px;
    text-align: center;
    border: 1px solid #fa3f43;
    .toutiao-des {
      margin-bottom: 16px;
    }
    .highlight {
      color: #fa3f43;
      font-weight: bold;
    }
  }
  .important_text {
    font-weight: bold;
  }
  // markdown的样式
  p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0 0 10px;
  }
  ::marker {
    font-weight: bold;
    color: #a2b6d4;
  }
  blockquote {
    padding: 10px;
    margin: 10px 0;
    font-size: 17.5px;
    border-left: 5px solid #eee;
    border-radius: 8px;
    overflow: auto;
    background: #f6f8fa;
    p {
      margin: 0;
      + p {
        margin-top: 8px;
      }
    }
  }
  pre {
    padding: 9.5px;
    margin: 0 0 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  table {
    border-collapse: collapse;
    td,th {
      border: 1px solid #f2f2f2;
      padding: 4px 8px;
    }
  }
}
